.Button {
  background-color: rgb(19, 19, 19);
  border: 1px solid black;
  border-radius: 10px;
  color: white;
  outline: none;
  margin: 3px auto;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  display: block;

  &:hover {
    background-color: #40a4c8;
    color: white;
  }

  &:disabled {
    background-color: rgb(143, 141, 137);
    color: #ccc;
    cursor: not-allowed;
  }
}

.Success {
  color: #5c9210;
}

.Danger {
  color: #944317;
}
